/* CSS files add styling rules to your content */


h1 {
  font-size: 7.3rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 3.3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

p {
  line-height: 1.3rem;
}

.tan-bg-img-right {
  background-color: #DFDDD0;
  padding: 5rem 3.9rem 8.3rem 6.9rem;
}

.text-dgreen {
  color: #2B3C2E;
}

.start-letter {
  height: 0;
  margin-top: -4rem;
  margin-bottom: 4rem;
}

.black-bg-shade {
  background-color: rgba(0, 0, 0, .66);
}

.shade-bg-title {
  padding: 12.5rem 11.8rem 0;
}

.shade-bg-text {
  padding: 3.4rem 11.8rem 5.3rem;
}

@media (min-width: 768px) {
  .minus-half-col {
    margin-right: -4.2%;
    padding-right: 5.5%;
  }
}

.green-quote {
  font-family: 'BN Chester';
  font-size: 2.3rem;
  color: white;
  line-height: 2.6rem;
}

#coverBg {
  background-color: rgba(0, 0, 0, 0.5);
}

#coverTitle {
  padding: 0 12.3rem 0 7.5rem;
  font-family: 'BN Chester';
}

#coverText {
  padding: 13rem 0 9.5rem 0;
  width: 38%;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
}

#yusefImgCol {
  padding-left: 2.5rem;
}

#jimAckBgImg {
  background-size: cover;
  background-image: url("static/Kligman_in_1976_Temple University_Libraries.jpg");
}

#bushBg {
  background-color: #DFDDD0;
  padding: 5rem 3.9rem 0rem 0rem;
  margin-top: -1rem; /*This is meant to remove the white space between this div and the div above. It's a little hacky. Is there a better way?*/
}

#bushCaption{
  font-size: 0.6rem; 
  margin-left: 10rem;
}

#blackBg{
  background-color: black;
  padding-right: 0;
  padding-bottom: 5rem;
  padding-top: 15rem;
}

#chemicalImg{
  width: 85%; 
  float: right;
  margin-bottom: 5rem;
}

#holmesburgText{
  text-align: center; 
  font-family: 'BN Chester';
  margin: auto;
  width: 95%;
  white-space: pre-wrap; 
  font-size: 5.5vw;
}

#experimentImg{
  width: 70%;
  margin-top: 5rem;
}

#albertGreenBg {
  background-color: #2B3C2E;
}

#greenQuoteBox {
  padding: 0 3.8rem 0 3.1rem;
}

#julesBgImg {
  background-size: cover;
  background-image: url("static/inmates.png");
}

#hornblum{
  background-color: #DFDDD0;
  padding-bottom: 5rem;
}

.hornblumText {
  font-family: 'BN Chester';
  color: #2B3C2E;
  width: 90%;
  text-align: center;
}

